/* Estilos específicos para a página de Criar Conta */
.pagina-criar-conta {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

.form-container {
    width: 45%;
}

.form-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-criar-conta input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.form-criar-conta button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-criar-conta button:hover {
    background-color: #555;
}

.form-container p {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.form-container a {
    color: #333;
    text-decoration: underline;
}