{% extends "base.html" %}
{% load static %} 

{% block title %}Libreasy - Contato {% endblock %}

{% block body_class %}contato{% endblock %}

{% block content %}
<!----------------------------------------------------------------------------------->
    <main class="main-contato">
        <div class="pagina-contato">
            <h1 class="font-bold text-4xl">Libreasy - Informações </h1>
            <hr>
            <div class="quem-somos">
                <h2 class="font-bold text-3xl">Quem Somos</h2>
                <p>Somos uma equipe de desenvolvedores preocupados com o incentivo à leitura.</p>
            </div>
            <hr>
            <div class="missao-visao-valores">
                <h2 class="font-bold text-3xl">Missão</h2>
                <p>Promover a leitura e o aprendizado contínuo.</p>
                <h2 class="font-bold text-3xl">Visão</h2>
                <p>Ser referência em educação e cultura na região.</p>
                <h2 class="font-bold text-3xl">Valores</h2>
                <p>Transparência, Inovação e Comprometimento.</p>
            </div>
            <hr>
            <div class="contato-info">
                <h2 class="font-semibold text-xl">Contato</h2>
                <p><strong>E-mail:</strong> contato@libreasy.com</p>
                <p><strong>Telefone:</strong> (13) 91234-5678</p>
            </div>
        </div>
    </main>
<!----------------------------------------------------------------------------------->
{% endblock %}