{% extends "base.html" %}
{% load static %} 

{% block title %}Libreasy - Contato {% endblock %}

{% block body_class %}contato{% endblock %}

{% block content %}
<head>  <link rel="stylesheet" href="{% static 'css/contato.css' %}" /> </head>
<!----------------------------------------------------------------------------------->
    <main>
        <div class="pagina-contato">
            <h1 class="font-bold text-5xl"> Biblioteca Exemplo </h1>
            <div class="contato-info ">
            <p> • Esse site funciona apenas como método de consulta de nosso acervo de livros.</p>
            <p> • Não realizamos venda, aluguel ou empréstimos de livros através do mesmo.</p>
            <p> • Caso tenha interesse em algum dos livros, venha em nosso endereço retirá-lo conosco! </p>
            </div>

            <hr>

            <div class="contato-info">
                <h2 class="font-bold text-3xl">Horário de funcionamento</h2>
                <p>Segunda à Sexta-feira: 07h às 17h.</p>
                <p> Sábado: das 08h às 12h.</p>
            </div>

            <hr>
            
            <div class="contato-info">
                <h2 class="font-semibold text-xl">Contato</h2>
                <p><strong>Endereço: </strong>  Rua Um, 199</p>
                <p><strong>Telefone:</strong> (13) 3333-0000</p>
                <p><strong>E-mail: </strong> sac@biblioteca.com </p>
            </div>
            
        </div>
    </main>
<!----------------------------------------------------------------------------------->
{% endblock %}