{% extends "base.html" %}
{% load static %} 

{% block title %}Libreasy - Criar conta{% endblock %}

{% block body_class %}criar-conta{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/criar-conta.css' %}" />
</head>

<main>
<div class="pagina-criar-conta">
<div class="form-container">
    <h1 class="font-bold">Criar Conta</h1>
    <hr>

    <form class="form-criar-conta" method="post" action="">
    {% csrf_token %}
    
    <!-- Loop através dos campos do formulário -->
    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            
            <!-- Input field -->
            <input type="{{ field.field.widget.input_type }}" 
                   name="{{ field.html_name }}" 
                   id="{{ field.auto_id }}" 
                   class="form-control {% if field.errors %}is-invalid{% endif %}"
                   {% if field.value %}value="{{ field.value }}"{% endif %}>
            
            <!-- Exibição de erros -->
            {% if field.errors %}
                <div class="messages-container">
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                            <button type="button" class="close" onclick="this.parentElement.style.display='none'">&times;</button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            
            <!-- Ajuda textual (opcional) 
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            -->
        </div>
    {% endfor %}
    
    <button type="submit" class="btn btn-primary">Criar Conta</button>
</form>

 <!--   {% if messages %}
    <div class="messages-container">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
            <button type="button" class="close" onclick="this.parentElement.style.display='none'">&times;</button>
        </div>
    {% endfor %}
    </div>
    {% endif %}
-->
    <p>Já tem uma conta? <a href="{% url 'login' %}" id="fazer-login">Faça Login</a></p>

</div>
</div>
</main>

{% endblock %}