{% extends "base.html" %}
{% load static %} 

{% block title %}Libreasy - Doações{% endblock %}

{% block body_class %}doacoes{% endblock %}

{% block content %}

    <main class="main-doacoes">
    <div class="">
        <div class="pagina-doacoes">
            <div class="">
            <h1 class=" font-bold text-5xl ">Doações</h1>
            <p >Ajude a biblioteca escolar a crescer! Aceitamos doações de livros em bom estado.</p>
            </div>
            <hr>
        </div>
            <div>
                <h2>Livros que precisamos:</h2>
            </div>
            <table class="tabela-livros">
                <thead>
                    <tr>
                        <th>Nome do Livro</th>
                        <th>Nome do Autor</th>
                        <th>Editora</th>
                        <th>Versão</th>
                    </tr>
                </thead>
                <tbody>
                    {% for livro in livros_necessarios %}
                    <tr>
                        <td>{{ livro.nome }}</td>
                        <td>{{ livro.autor }}</td>
                        <td>{{ livro.editora }}</td>
                        <td>{{ livro.versao }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
   
        </div>
    </main>
{% endblock %}