
{% extends "base.html" %}
{% load static %}

{% block title %}Libreasy - Página Inicial{% endblock %}

{% block body_class %}pagina-inicial{% endblock %}

{% block content %}
<head>  <link rel="stylesheet" href="{% static 'css/Index-style.css' %}" /> </head>
  
<main class="main-index">
  

  <!-- Filtro de Gêneros (Coluna Esquerda)
  <div class="filtro-generos">
    <h2 class="">Filtrar por Gênero</h2>
    <form id="filtro-form">
      {% for genero in generos %}
      <label class="block">
        <input type="checkbox" name="genero" value="{{ genero.id }}" 
               class=""
               onchange="filtrarLivros()"> 
        {{ genero.name }}
      </label>
      {% endfor %}
    </form>
  </div>
 -->
  <!-- Área Principal -->
  <div class="area-principal">
    <div class="alert-box">
      <p>
      AVISO: Catalogo apenas para consulta de disponibilidade. Consulte a página
      <a href="{% url 'contato' %}" class="hover:underline hover:text-gray-400 italic">Contato</a>
      para mais Informações.
    </p>
    </div>

    

    <!-- Filtros Superiores -->
<div class="filtro-superior">
  <input type="text" id="termo-busca" placeholder="Nome do Livro, Autor ou Gênero"
         class="">
  <button id="buscar" class="">Buscar</button>
</div>



    <!-- Catálogo de Livros -->
    <div class="livros">
      {% for livro in livros %}
      <!-- Livro individual -->
      <!-- <div class="livro" data-genero="{{ livro.gênero.id }}" data-nome="{{ livro.title }}" data-autor="{{ livro.autor.name }}"> -->
    <div class="livro"
     data-genero="{{ livro.gênero.id }}"
     data-genero-nome="{{ livro.gênero.name|lower }}"
     data-nome="{{ livro.title }}"
     data-autor="{{ livro.autor.name }}">


        <!-- Imagem/Capa -->
        <figure class="capa-livro">
          
          {% if livro.capa_url %}
          <img src="{{ livro.capa_url }}" alt="Capa de {{ livro.title }}" class="rounded" loading="lazy">
          {% else %}
          <img src="{% static 'images/Libreasy_logo.png' %}" alt="Capa padrão" class="rounded">
          {% endif %}
        
        </figure>

        <!-- Informações do Livro -->
        <div class="info-livro" >
          <p>
            {{ livro.title }}
          </p>
          <p class="autor ">{{ livro.autor.name }}</p>
          <p class="">Gênero: {{ livro.gênero.name }}</p>
      <!--    <p class="">Total de exemplares: {{ livro.total_copias }}</p> -->
          <p> Disponíveis: {{ livro.copias_disponiveis }}</p>

        </div>
     

      </div>
      {% endfor %}
    </div>
    

  


     

  </div>
 
</main>

{% endblock %}