{% extends "base.html" %}
{% load static %}

{% block title %}Libreasy - Página Inicial{% endblock %}

{% block body_class %}pagina-inicial{% endblock %}

{% block content %}
<main class="main-index mx-auto max-w-screen-lg space-y-10">

  <!-- Filtro de Gêneros (Coluna Esquerda) -->
  <div class="filtro-generos p-4 bg-gray-800 rounded">
    <h2 class="text-lg font-semibold mb-4">Filtrar por Gênero</h2>
    <form id="filtro-form">
      {% for genero in generos %}
      <label class="block">
        <input type="checkbox" name="genero" value="{{ genero.id }}" 
               class="mr-2 rounded text-yellow-500 focus:ring focus:ring-yellow-300"
               onchange="filtrarLivros()"> 
        {{ genero.name }}
      </label>
      {% endfor %}
    </form>
  </div>

  <!-- Área Principal -->
  <div class="area-principal">

    <!-- Filtros Superiores -->
<div class="filtro-superior flex space-x-4 mb-4">
  <input type="text" id="termo-busca" placeholder="Nome do Livro ou Autor"
         class="p-2 rounded bg-gray-800 placeholder-gray-400 border border-gray-700 focus:ring focus:ring-yellow-300">
  <button id="buscar" class="p-2 bg-yellow-500 text-black rounded hover:bg-yellow-600">Buscar</button>
</div>


    <!-- Catálogo de Livros -->
    <div class="livros grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 ">
      {% for livro in livros %}
      <!-- Livro individual -->
      <div class="livro p-4 rounded border-2 border-gray-700 bg-gray-900" data-genero="{{ livro.gênero.id }}" data-nome="{{ livro.title }}" data-autor="{{ livro.autor.name }}">
        
        <!-- Imagem/Capa -->
        <div class="topo mb-4">
          <div class="capa-livro">
            {% if livro.capa_url %}
            <img src="{{ livro.capa_url }}" alt="Capa de {{ livro.title }}" class="rounded" loading="lazy">
            {% else %}
            <img src="{% static 'images/Libreasy_logo.jpg' %}" alt="Capa padrão" class="rounded">
            {% endif %}
          </div>
        </div>

        <!-- Informações do Livro -->
        <div class="info-livro">
          <a href="/" class="text-lg font-semibold hover:underline">
            {{ livro.title }}
          </a>
          <p class="autor text-sm italic ">{{ livro.autor.name }}</p>
          <p class="text-sm italic ">Gênero: {{ livro.gênero.name }}</p>
          <!-- <p class="text-sm text-yellow-500">⭐⭐⭐⭐⭐ ({{ livro.avaliacoes|default:0 }} Avaliações)</p> -->
        </div>

      </div>
      {% endfor %}
    </div>

  </div>
</main>
{% endblock %}
